*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    width: 100%;
    /* background-color: rgb(248, 85, 26); */
    /* background-color: #00b1b1; */
    background-image:linear-gradient(135deg,  #00b1b1, rgb(248, 85, 26)) ;
    color: rgb(10, 25, 47);
    /* color: white; */
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.logo{
    text-decoration: none;
    color: rgb(10, 25, 47);
    font-size: 20px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}



.nav-links li a{
    text-decoration: none;
    color: rgb(10, 25, 47) ;
}

.nav-links li a:hover{
    color: white;

}

main{
    background-color:rgb(10, 25, 47);
    color: white;
    padding: 4rem;
}

.intro{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.name{
    color: #00b1b1;
    font-size:4rem;
}

#skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 1rem;
}

.left-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* background-color: #00b1b152; */
    background-image: linear-gradient(135deg,#00b1b169,  rgba(248, 85, 26, 0.514));
    padding: 2rem;

}

.skill-logo{
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: white;
}

footer{
    background-image:linear-gradient(135deg,  #00b1b1, rgb(248, 85, 26)) ;
    
}

.heart{
    color: red;
    font-size: 1.5rem;
}
