*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.styled-btn{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    margin: 100px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

