*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    box-shadow: 0 0 10px black;
    border: none;
    width: 40%;
    margin: auto;
    flex-direction: column;
    column-gap: 15px;
    align-items: center;
    padding-top:20px ;
}

.section{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 30px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.profile-picture{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius:50px ;
}
.info{
    width: 50%;
    row-gap: 8px;
}

.name{
    font-weight: bold;
    font-size: 18px;
}
.about{
    color:gray ;
    font-size: 18px;

}

.popular{
    color: gray;
    font-size: 15px;
}

.follow{
    background-color: rgb(28, 137, 201);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}