*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: 100px;
}

.left-section{
    background-color: lightblue;
    width: 200px;
}

.right-section{
    background-color: lightpink;
    width: 75px;
}

.left-section2{
    width: 50px ;
    background-color: lightblue;
}

.mid-section2{
    background-color: lightpink;
    flex: 1;
}

.right-section2{
    background-color: lightblue;
    width: 75px;
}

.container-2{
    display: flex;
    justify-content: space-evenly;
}

.section1{
    background-color: lightblue;
}

.section2{
    background-color: lightpink;
}

.section3{
    background-color: lightblue;

}

.section4{
    background-color: lightpink;

}