*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    /* grid-template-columns: 200px 1fr 200px; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 80px auto; */
    gap: 20px;
    row-gap: 10px;
    column-gap: 15px;

}

.section{
    background-color: lightpink;
}