*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: aliceblue; */
  padding: 5%;
  gap: 5%;
}

.section{
    width: 50%;
    margin: auto;
  display: flex;
  gap: 10px;
  /* background-color: antiquewhite; */
}

.left-section{
    position: relative;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: end;
}

.thumbnail{

    width: 50%;
    border-radius: 10px;
}
.duration{
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    position: absolute;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    bottom: 5px;
    right: 5px;
}

.right-section{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr;
}

.title{
    font-weight: bold;
    width: 100%;
    font-weight: bold;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: gray;
    font-size: 12px;
}