body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  


.bg-img{

  /* Full height */
  height: 100%; 
    background-image: url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
      /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

}

.content {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }